:root {
  /* COLORS */
  --white: #f4eeee;
  --light-shade: #d5d2d2;
  --light-accent: #6fa7c4;
  --main-color: #050ec3;
  --dark-accent: #293e8d;
  --dark-shade: #131016;
  --black: #000000;
  /* Drop shadows */
  --shadow-lg: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
  --shadow-xl: drop-shadow(0 20px 13px rgb(0 0 0 / 0.05)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
  --gradient: linear-gradient(293.15deg, #050ec3 -78.01%, #293e8d -7.64%, #6fa7c4 39.86%, #d5d2d2 80.32%);
}

/* Small css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

/* *,
*:before,
*:after {
  box-sizing: inherit;
} */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
a,
button {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font: inherit;
  font-family: "Source Sans Pro", sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

.hidden {
  display: none;
}
