body {
  background: linear-gradient(293.15deg, #050ec3 -78.01%, #293e8d -7.64%, #6fa7c4 39.86%, #d5d2d2 80.32%);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

.hero {
  height: 100vh;
  width: 100%;
}

.hero__container {
  width: 50%;
  max-width: 700px;
  padding: 1rem 5rem;
  /* display: flex;
  flex-direction: column; */
}

.hero__title {
  display: inline;
  font-weight: 700;
  font-size: 66px;
  color: var(--black);
  background-color: var(--dark-accent);
  word-break: break-word;
  line-height: 1.5;
}

.hero__body {
  font-size: 1.5rem;
  margin: 2.5rem 0 1.5rem;
}

.hero__button {
  width: 33%;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 0.3rem;
  border: solid 0.2rem var(--dark-shade);
  color: var(--white);
  padding: 10px 30px;
  background-color: var(--main-color);
  transition: 0.3s ease-in-out all;
}

.hero__button:hover {
  cursor: pointer;
  border-color: var(--light-accent);
  filter: var(--shadow-xl);
}

.hero__bg-wrapper {
  height: 100vh;
  width: 100%;
}

.bg-wrapper__image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 70vh;
  width: 60%;
  object-fit: cover;
  display: block;
  object-position: top left;
  overflow: hidden;
}

.link {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--white);
}

.link:hover {
  color: var(--light-accent);
}

.link__map {
  border: 2px solid var(--white);
  border-radius: 100%;
  margin-left: 5rem;
  pointer-events: visible;
}

.link__map:hover {
  filter: invert(1);
  border: 2px solid var(--light-shade);
  border-radius: 100%;
  cursor: pointer;
}
.link__title {
  margin: 2rem;
  font-size: 24px;
  text-align: center;
  font-weight: semibold;
}

.test {
  filter: var(--shadow-xl);
  background-color: #7a7978;
  width: 10rem;
  padding: 1rem;
  margin: 1rem;
}
