@import url(./global.css);

html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(293.15deg, #050ec3 -78.01%, #293e8d -7.64%, #6fa7c4 39.86%, #d5d2d2 80.32%);
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}

main {
  height: 100vh;
  width: 100%;
}

.main__bg-image {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 70vh;
  width: 60%;
  object-fit: cover;
  display: block;
  object-position: top left;
  overflow: hidden;
}
.test {
  filter: var(--shadow-xl);
  background-color: #7a7978;
  width: 10rem;
  padding: 1rem;
  margin: 1rem;
}
