/* Nav modals */
.nav__dialog {
  outline: transparent;
  border: none;

  padding: 1rem;
  gap: 5rem;
}

.nav__dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.dialog__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: semi-bold;
}

.dialog__body > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 600;
}

.form__input {
  padding: 0.5rem;
}

.form__button {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 0.3rem;
  border: solid 0.2rem var(--dark-shade);
  color: var(--white);
  padding: 0.5rem;
  background-color: var(--main-color);
  transition: 0.3s ease-in-out all;
}

.form__button:hover {
  cursor: pointer;
  border-color: var(--dark-accent);
  filter: var(--shadow-xl);
}

.form__img {
  margin: 0 auto;
}

/* Modal for employee cards */
.employee__modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.employee__modal {
  outline: transparent;
  border: none;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 5rem;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  font-weight: semi-bold;
}

.modal__close-btn:hover {
  cursor: pointer;
  color: var(--dark-accent);
}

.modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body__title {
  text-align: center;
}
.body__img {
  border-radius: 9999px;
}
.body__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.body__rating {
}
.body__services-and-prices {
  display: flex;
  margin-top: 0.5rem;
  background-color: var(--light-shade);
  gap: 2rem;
  padding: 0.5rem;
}
.body__services-and-prices > ul > li > h4 {
  border-bottom: 1.5px solid var(--dark-shade);
}
.body__address {
  display: flex;
  flex-direction: column;
}
