body {
  background: var(--gradient);
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  padding: 1rem;
}

/* https://codepen.io/meodai/pen/rNedxBa */
/* .input {
  position: relative;
}

.input__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}

.input__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
}

.input__field:focus,
.input__field:not(:placeholder-shown) {
  & + .input__label {
    transform: translate(0.25rem, -65%) scale(0.8);
    color: var(--color-accent);
  }
}

.button-group {
  margin-top: calc(var(--size-bezel) * 2.5);
}

button {
  color: currentColor;
  padding: var(--size-bezel) calc(var(--size-bezel) * 2);
  background: var(--color-accent);
  border: */

.header__search {
  border: 2px solid var(--dark-accent);
  width: 15rem;
  position: relative;
}

.search__input {
  height: 100%;
  width: 100%;
}

.search__label {
  position: absolute;
  bottom: 20%;
  left: 2%;
}

.header__search:focus {
  outline: none;
  border-bottom: 1px solid var(--dark-shade);
}

.header__dropdown {
  padding: 0.5rem;
  background-color: var(--light-shade);
}
